body{
  color: white;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  font-family: 'Poppins';
  font-size: 15px;
}
h1{
  text-decoration: underline;
  color: orange;
}

img{
  align-items: center;
  margin-left: 30px;
}
.topnav {
  overflow: hidden;
  display:flex;
  float: right;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.topnav a {
  margin-right: 1px;
  color: #f2f2f2;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: orange;
  color: black;
}

.topnav a.active {
  background-color: orange;
  color: white;
}
a:link {
  color: orange;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: orange;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
}
.a{
  display: flex;
}
.b{
  margin-left: 20px;
}
